@import url('@vueform/toggle/themes/default.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region inter font */
@font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('../assets/fonts/Inter/static/Inter-Thin.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('../assets/fonts/Inter/static/Inter-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('../assets/fonts/Inter/static/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../assets/fonts/Inter/static/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('../assets/fonts/Inter/static/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../assets/fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('../assets/fonts/Inter/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('../assets/fonts/Inter/static/Inter-Black.ttf');
}
/* #endregion */

/* #region nunito font */
@font-face {
    font-family: 'Nunito';
    font-weight: 200;
    src: url('../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url('../assets/fonts/Nunito/static/Nunito-Light.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url('../assets/fonts/Nunito/static/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 500;
    src: url('../assets/fonts/Nunito/static/Nunito-Medium.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url('../assets/fonts/Nunito/static/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url('../assets/fonts/Nunito/static/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 800;
    src: url('../assets/fonts/Nunito/static/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 900;
    src: url('../assets/fonts/Nunito/static/Nunito-Black.ttf');
}
/* #endregion */

/* #region base */
:root {
    color-scheme: light dark;

    scrollbar-color: var(--color-gray-300) transparent;
    scrollbar-width: thin;

    /* vueform toggle styling: https://github.com/vueform/toggle?tab=readme-ov-file#styling-with-css-vars */
    --toggle-ring-width: 0px;
    --toggle-bg-on: var(--color-indigo-500);
    --toggle-width: 3.25rem;
    --toggle-height: 1.5rem;
    --toggle-border: 0px;

    --font-primary: 'Inter', sans-serif;
    --font-accent: 'Nunito', sans-serif;
    --font-color: var(--color-gray-700);
    --bg-color: var(--color-orange-100);
    --color-primary: var(--color-green-800);

    --p-stepper-separator-background: var(--color-gray-700) !important;
    --p-fileupload-border-color: var(--color-gray-700) !important;
    --p-inputtext-border-color: var(--color-gray-700) !important;
    --p-tooltip-background: var(--color-gray-950) !important;
}

::-webkit-scrollbar {
    @apply w-2 h-2;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}

html,
body,
div#app {
    height: 100%;
    font-family: var(--font-primary);
    overscroll-behavior: none;
    background-color: var(--bg-color);
}

body > div {
    color: var(--font-color);
}

h1 {
    font-family: var(--font-accent);
    @apply font-semibold text-2xl pb-5;
}

h2 {
    font-family: var(--font-accent);
    @apply font-semibold text-xl;
}

h3 {
    @apply font-semibold text-gray-500;
}

small {
    @apply text-sm font-semibold;
}

a {
    @apply text-indigo-500;
}

label {
    @apply text-sm text-gray-200;
}

.bg-color-primary {
    background-color: var(--bg-color);
}
/* #endregion */

/* #region Vue transitions */
.slide-right-enter-from,
.slide-left-leave-to {
    translate: -100%;
    opacity: 0;
}

.slide-right-leave-to,
.slide-left-enter-from {
    translate: 100%;
    opacity: 0;
}

.slide-right-enter-active,
.slide-left-enter-active {
    @apply transition-all ease-in duration-200 delay-200;
}

.slide-right-leave-active,
.slide-left-leave-active {
    @apply transition-all ease-in duration-200;
}
/* #endregion */

/* #region PrimeVue toast */
.p-toast {
    @apply left-5 w-auto !important;
}

.p-toast-message {
    @apply rounded-2xl bg-red-300 text-red-900 !important;
}

div[data-pc-name='toast'] span[data-pc-section='summary'] {
    font-family: var(--font-accent);
    line-height: 20px;
}

.p-toast-detail {
    @apply font-normal text-gray-900 !important;
}
/* #endregion */

/* #region PrimeVue drawer */
div[data-pc-name='drawer'] {
    @apply !bg-gray-100 dark:!bg-gray-900 !border-0 !rounded-l-2xl text-inherit;
}

.p-drawer-bottom .p-drawer {
    @apply h-fit !important;
}

div[data-pc-name='drawer'] div[data-pc-section='header'] {
    @apply !px-10;
}

div[data-pc-name='drawer'] div[data-pc-section='title'] {
    font-family: var(--font-accent);
}

div[data-pc-name='drawer'] div[data-pc-section='content'] {
    @apply !px-10;
}
/* #endregion */

/* #region PrimeVue stepper */
div[data-pc-name='stepper'] div[data-pc-name='step'] {
    @apply !px-0;
}

div[data-pc-name='stepper'] div[data-pc-name='step']:not(:first-child) {
    @apply !pl-4;
}

div[data-pc-name='stepper'] span[data-pc-section='number'][data-p*='active'] {
    @apply bg-indigo-500 border-0;
}

div[data-pc-name='stepper'] span[data-pc-section='number'] {
    @apply bg-gray-950 border-0 text-sm min-w-7 h-7;
}

div[data-pc-name='stepper'] span[data-pc-section='separator'][data-p*='completed'] {
    @apply bg-indigo-500;
}

div[data-pc-name='stepper'] span[data-pc-section='separator'] {
    @apply h-[1px];
}

div[data-pc-name='stepper'] span[data-pc-section='title'][data-p*='active'] {
    @apply text-indigo-500;
}

div[data-pc-name='stepper'] span[data-pc-section='title'] {
    @apply font-normal text-sm;
}

div[data-pc-name='stepper'] div[data-pc-name='steppanel'] {
    @apply bg-transparent;
}
/* #endregion */

/* #region PrimeVue FileUpload */
div[data-pc-name='fileupload'] {
    @apply bg-transparent rounded-2xl;
}

div[data-pc-name='fileupload'] div[data-pc-section='header'] {
    @apply bg-transparent border-0 pt-16 pb-3;
}

div[data-pc-name='fileupload']:has(img[data-file='true']) div[data-pc-section='header'] {
    @apply !pt-3 !pb-0;
}

div[data-pc-name='fileupload'] div[data-pc-section='content'] {
    @apply pb-16 pt-0;
}

div[data-pc-name='fileupload']:has(img[data-file='true']) div[data-pc-section='content'] {
    @apply !pb-3 !px-3;
}
/* #endregion */

/* #region PrimeVue InputText */
input[data-pc-name='inputtext'] {
    @apply rounded-2xl bg-transparent !shadow-none hover:!border-indigo-500 text-sm font-normal text-gray-300 px-5 py-3;
}
/* #endregion */

/* #region PrimeVue Tooltip */
.p-tooltip-text {
    @apply rounded-xl text-xs bg-gray-950 !important;
}
/* #endregion */

/* #region PrimeVue Tooltip */
.p-accordion {
    @apply shadow-lg overflow-hidden rounded-2xl divide-y divide-gray-200 !important;
}

.p-accordionpanel-active {
    @apply divide-y !important;
}

.p-accordionheader {
    color: var(--font-color) !important;
    @apply bg-white font-normal border-0 !important;
}

.p-accordionheader-toggle-icon {
    color: var(--font-color) !important;
}

.p-accordioncontent-content {
    color: var(--font-color) !important;
    @apply bg-white border-0 !important;
}
/* #endregion */
